<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" > 
         <label for="title">Podaj tytuł pomycłu
        <input type="text" name="title" id="title"> 
    </label> <br>
    <label for="status">Wybierz status
 <label>
    <input type="radio" name="plec" value="m"> Mężczyzna
  </label>
 

        <select name="status" id="status">
            <option value="">Zarys pomysłu</option>
            <option value="">Część jest napisane</option>
            <option value="">Project na GitHubie</option>
            <option value="">Projekt zakończony</option>
        </select>
    </label> <br>
    <label for=""> Link do Githuba z projektem
        <input type="url" name="link" id="link">
    </label> <br>
    <label for=""> Opis projektu
        <input type="text" name="opis" id="opis">
    </label> <br>
        <input type="submit" value="Wyślij">
        <!-- <button>Wyślij</button> -->
    </form>
</body>
</html>